/* Top Nav */
.top-nav {
    width: 100%;
    background: $dark-gray;
    padding: 0;
    margin: 0;
}

.top-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

    li{
      list-style: none;
      float: left;
      padding: 10px 15px;
      color: $white;
      font-size: 13px;
    }

    li:first-child{
      padding-left:0;
    }

    li i{
      padding-right: 8px;
    }
}

.top-list-right {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    float: right;

    li {
      list-style: none;
      float: left;
      padding: 10px 15px;
      color: $white;
      font-size: 13px;
    }

    a{
      color: $white;
    }
}

/* Top Bar */
.top-bar{
  color:$white;

  span{
    color: $secondary;
    background:$dark-gray;
    padding:5px 9px;
    margin-right:4px;
    cursor: pointer;
  }

  li{
    text-transform: uppercase;
  }

  a{
    color: $white;
  }

  a:hover{
    color: $secondary;
  }

  a.current{
    color: $secondary;
    border-top:3px solid $secondary;
    border-right:3px solid $secondary;
    border-left:3px solid $secondary;
    border-bottom:3px solid $secondary;
  }
}

/* Showcase */
.showcase{
  background: url('../img/sap.png') no-repeat -55px -667px;
  min-height: 450px;
  color: $white;

  .showcase-box{
    padding: 20px 20px;
    margin-top: 40px;
    background: none;
    color: $white;
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    p{
      border-bottom: 1px #ccc solid;
      padding-bottom: 10px;
    }
  }
  .start-link{
    background: none;
    padding: 10px 30px;
    border: 1px solid;
    border-color: $white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
    .start-link:hover, .start-link:focus, .start-link:active{
      color: white;
      border-color: #fff;
      background-color: #438bca;
    }

    a{
      padding-left: 2px;
    }
    h5{
      padding-left: 18px;
    }
}

.search-domain{
  background: $light-gray;
  padding: 30px 20px 20px 20px;
  border-bottom: 2px #ccc solid;
  margin-bottom: 30px;
}
  .domain-form{
    input, .input-group-label{
      border-color: $medium-light-gray;
    }
  }

.p-box-1, .p-box-2, .p-box-3{
  text-align: center;

  .fa{
    font-size: 60px;
  }

  .features{
    margin: 20px 0 30px 0;

    li{
      padding: 10px 0 10px 0;
      border-bottom: #ccc solid 1px;
    }
  }
}

.p-box-1{
  .fa{
    color: $primary;
  }

  .pricing span{
    font-size: 35px;
    font-weight: bold;
    color: $primary;
  }
}

.p-box-2{
  .fa{
    color: $secondary;
  }

  .pricing span{
    font-size: 35px;
    font-weight: bold;
    color: $secondary;
  }
}

.p-box-3{
  .fa{
    color: $extra;
  }

  .pricing span{
    font-size: 35px;
    font-weight: bold;
    color: $extra;
  }
}

.section-a{
  margin-top: 30px;
  padding: 50px 0;
  background: $light-gray;

  img{
    float: left;
  }
}

.section-b{
  margin-top: 20px;
  padding: 50px 0;
}
  img{
    float: right;
  }

.section-c{
  background: $dark-gray;
  color: $white;
  text-align: center;
  padding: 50px 0;
}

.section-d{
  background: $secondary;
  color: $white;
  padding: 50px 121px;
  text-align: center;

  .fa{
    font-size: 90px;
  }
}
